# PyNevo cache & telemetry files
.runtime_cache.npz
*.npz
*.tar.gz
*.zip

# Python Bytecode & Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE & OS files
.DS_Store
.vscode/
.idea/
